#container-fluid
	%nav
		%ul#navigaion.col-lg-12
			%li.col-lg-3 Home
			%li.col-lg-3 About
			%li.col-lg-3 Portfolio
			%li.col-lg-3 Contact


	%section.about.well
		%h1 ABOUT ME
		%h3 watch out, time for me to brag..

		%p Hello, my name is Paolo Cosentino. I'm a User Interface Designer based in Chicago, IL. If you have a project or creative need that I can help with, I would love to hear about it!

		%p I'm passionate about making things and even more passionate about making things better. I've been in the business of creating since I used the living room wall as my first fresco when I was 3 years old. Needless to say, my mother was not a fan of my first piece of art. After graduating from Dominican University, I've been actively involved in the web design community. I currently work for a web development company called TKML based out of Franklin Park.

		%p My specialty is Front End development but I also enjoy Designing user interfaces. Creating pixel magic through applications such as Balsamiq or Photoshop and turning it into beautiful HTML5 & CSS3. My interests, however, extend beyond the web and I love making designs come to life by creating professional motion graphics and fun animations.

		%p When I'm not designing, you can find me on the golf course or going out for a nice brisk jog. "Mens sana in corpore sano"

		%h3 My Skills
		%ul
			%li HTML5/CSS3
			%li JavaScript/jQuery
			%li Adobe Photoshop

	
	%section.portfolio.well
		%h1 PORTFOLIO
		%h3 a few things I've dabbled on..

		%h5 Web
		%h5 Print
		%h5 Animations
		%h5 Just Fiddlin' Around

	
	%section.contact.well
		%h1 CONTACT
		%h3 I'm so social..

		%p Want to get in touch? Well you're in the right place! I'm currently available for freelance projects. If you like what you see and you're interested in working with me, please, get in touch using one of the methods below. Or feel free to just say hi at pcportfolio88@gmail.com. I like that too.

		%a{:href => 'https://www.linkedin.com/profile/view?id=106884262&trk=tab_pro', target: "_blank"}>LinkedIn 